# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.dist-info
pip-wheel-metadata/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
.venv/
.env/

# VSCode settings (if using VSCode)
.vscode/

# MacOS system files
.DS_Store

# Python debug and coverage reports
*.cover
*.log
*.out
*.coverage
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Salesforce-specific (if using SF-related tools)
*.metadata
